* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#main-container {
  width: 380px;
  height: 640px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 20px;
}
h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 10px;
}
li {
  padding: 5px;
  border-bottom: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
}
li:hover {
  background-color: aliceblue;
}
.del {
  width: 25px;
  height: 25px;
  line-height: 1;
  border: 1px solid white;
  background-color: aliceblue;
  border-radius: 3px;
}
.del:hover {
  background-color: orange;
}
#todo-container {
  height: 500px; /* 고정된 높이 */
  overflow: auto; /* 내용이 넘칠 때 스크롤 가능 */
}
